%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date:
  = @event.date
%p
  %b Place:
  = @event.place_id
%p
  %b Cover:
  = @event.cover
%p
  %b Body:
  = @event.body

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
