= content_for :breadcrumbs do
  %ul.breadcrumb
    %li
      = link_to "Home", "/cms"
      %span.divider /
    %li
      = link_to model.name, send("cms_#{model.name.pluralize.underscore.downcase.underscore.gsub('/','_')}_path")
      %span.divider /
    %li
      = "#{action} #{model.send('name')}"